/* reset all of the defaults to 0 so that you can write your OWN css */
/* don't rely on the built-in browser defaults */

* {
    border: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body { 
    font-size: 16px;
    background-image: url(../images/background.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

    font-family: Arial, Helvetica, sans-serif;

    color: rgb(5, 1, 1);
}

header > h1 { text-align: center; padding: 8px; }


article { 
    width: 25%; 
    border: 4px solid white; 
    border-radius: 8px; 

    display: inline-block;
    margin: 10px 12px;

    text-align: left;
}
.todo input {
    margin: 0 30px 0;
}

.inprogress input {
    margin: 0 30px 0;
}

.done input {
    margin: 0 30px 0;
}

main { text-align: center; }

article > h2 { color: gray;  padding: 4px 8px; }

article:first-of-type { border: 4px solid gray; }

#main-header {
    color: rgb(66, 30, 18);
    margin-bottom: 30px;
}

#inprogress { border: 4px solid rgb(185, 31, 123); }
#inprogress h2 { color: rgb(103, 11, 60); }

#done { border: 4px solid rgb(250, 185, 65); }
#done h2 { color: rgb(230, 127, 17); }

ul { list-style-type: none; }

ul li { padding: 6px 8px; text-transform: uppercase; }


.inprogress input[type="checkbox"]:checked + span::after  {
    content: '\1F44D';
    width: 15px;
    height: 15px;
    position: absolute;
    font-size: 1em;
    margin-left: 10px;
    animation: fadeIn 0.7s;
  }

  .done input[type="checkbox"]:checked + span::after  {
    content: '\1F600';
    width: 15px;
    height: 15px;
    position: absolute;
    font-size: 1em;
    margin-left: 10px;
    animation: fadeIn 0.7s;
  }

  
  .inprogress input:checked + span{
    background: #f478ee67; 
   }

   .done input:checked + span {
    background-color: rgba(232, 101, 19, 0.267);

   }

   